%%-*- mode: erlang -*-
 
%% Erlang compiler options
{erl_opts, [debug_info,
            {i, "include"},
            {src_dirs, ["src"]}]}.
 
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
 
{cover_enabled, true}.

{sub_dirs, ["rel"]}.

{deps, [
    {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git"}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git"}}
   ]}.